export ADDR=":8080"
export DB_ADDR="postgres://admin:adminpassword@localhost/socialnetwork?sslmode=disable"
export DB_MAX_OPEN_CONNS="30"
export DB_MAX_IDLE_CONNS="30"
export DB_MAX_IDLE_TIME="15min"
export AUTH_TOKEN_SECRET="supersecretkeydontuseinprod"
export REDIS_ADDR="localhost:6379"
export REDIS_DB="0"
export REDIS_ENABLED="1"
export RATELIMITER_REQUESTS_COUNT="20"
export SMTP_PASSWORD="01b07eabf512871471c9cc5f0725eddd"
export SMTP_HOST="live.smtp.mailtrap.io"
export SMTP_PORT="587"
export SMTP_USERNAME="api"

